<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<!-- <a href="{{ "" | absolute_url }}/" class="logo"><strong>Unidad de Datos2</strong> <span>Repositorio de base de datos</span></a> -->
	<a href=" https://biam2.github.io" class="logo"><strong>Inicio</strong></a> 
	<a href=" https://biam2.github.io/2019/11/31/FP.html" class="logo"><strong>Fuentes Propias</strong></a> 
	<a href=" https://biam2.github.io/2019/11/31/FS.html" class="logo"><strong>Fuentes Secundarias</strong></a> 
	
	<!--  <nav>
		<a href="#menu">Menu</a>
	</nav> -->
</header>
<!-- Menu -->
 <!-- <nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">titulo1</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">titulo2</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
  <!--		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	
	</ul>
</nav> -->
